body {
  background-color: black;
  margin: 0;
  font-family: Arial;
}
.main-section {
  display: flex;
}
.left-section {
  flex: 1;

  margin-left: 140px;
}
.logo {
  width: 500px;
  margin-top: 90px;
}
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-right: 60px;
  padding-top: 20px;
}
.title {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.sub-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
button {
  display: block;
}
.signup-button-google,
.signup-button-apple {
  background-color: white;
  border: none;
  border: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 12px 90px 12px 90px;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.signup-button-apple {
  font-weight: bold;
}
.google-logo {
  position: absolute;
  height: 28px;
  left: 59px;
}
.apple-logo {
  position: absolute;
  height: 25px;
  left: 52px;
}
.create-account-button,
.sign-in-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.create-account-button {
  background-color: rgb(0, 166, 255);
  padding: 12px 102px 12px 102px;
}
.sign-in-button {
  color: rgb(0, 166, 255);
  background-color: black;
  border: 1px solid gray;
  padding: 12px 130px 12px 130px;
  transition: background-color 0.27s;
}
.sign-in-button:hover {
  background-color: rgb(27, 27, 29);
}
.terms-container {
  width: 350px;
}
.terms {
  color: gray;
  font-size: 12px;
}
a {
  color: rgb(0, 166, 255);
  text-decoration: none;
}
.bottom-box {
  margin-top: 80px;
}
.already-account-tag {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.footer {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 25px;
}
.footer p {
  color: rgb(151, 150, 150);
  font-size: 13px;
  margin-bottom: 6px;
}
.copyright-container {
  display: flex;
  justify-content: center;
}
.copyright {
  color: rgb(150, 150, 150);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 13px;
}
@media (max-width: 515px) {
  .main-section {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 60px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .title {
    font-size: 45px;
    margin-top: 25px;
  }
  .right-section {
    padding-top: 4px;
  }
  .sub-title {
    font-size: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer p {
    margin-right: 12px;
    line-height: 5px;
  }
}
@media (min-width: 515px) and (max-width: 1015px) {
  .main-section {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .logo {
    width: 64px;
    margin-top: 20px;
  }
  .title-container {
    width: 200px;
  }
  .title {
    font-size: 65px;
    margin-top: 10px;
  }

  .right-section {
    margin-top: 0;
    padding-top: 0px;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
